.background {
  height: 100vh;
  background: linear-gradient(
      rgba(253, 102, 107, 0.7),
      rgba(252, 252, 252, 0.3)
    ),
    url("/homepage-background.jpg");
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}

.background section {
  display: flex;
  flex-direction: column;
  height: 85%;
  gap: 2rem;
  margin: 5rem;
}

.background div{
  margin-left: 3rem;
}

.background h1 {
  font-size: 7rem;
  font-weight:900;
  line-height: 1.3;
  color: var(--color-light--4);
}

.background h2 {
  width: 90%;
  font-size: 1.9rem;
  color: var(--color-light--3);
  margin-bottom: 2.5rem;
}

