.google{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #757575;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.google:hover {
  background-color: #f8f9fa;
  border-color: #c6c6c6;
}

.googleIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

