.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-clip: padding-box;
  box-sizing: border-box;
}

.linkContainer {
  display: flex;
  gap: 1rem; /* Adjust gap size as needed */
}