@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

:root {
  --color-brand--1: #FFCDB2;
  --color-brand--2: #E5989B;
  --color-brand--3: #B5828C;
  --color-brand--4: #B5828C;
  
  --color-horny--1: #e87687;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;

  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
  --color-light--4: #FFFFFF; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-dark--2);
  font-weight: 400;
  line-height: 1.6;
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-horny--1);
  color: var(--color-light--4);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}

.bta:link,
.bta:visited{
  display: inline-block;
  background-color: var(--color-dark--2);
  color: var(--color-light--4);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
  opacity: 80%;
}

.buttonShine {
  position: relative;
  overflow: hidden;
  background-color: var(--color-horny--1); 
  color: white;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.buttonShine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  transform: skewX(-25deg);
  animation: shine 1.8s infinite;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  50% {
    left: 125%;
  }
  100% {
    left: 125%;
  }
}